.wy-nav-content {
    max-width: none !important;
}

.code-block-caption {
    color: #000;
    padding: 1em 0;
    text-align: left !important;
    vertical-align: bottom !important;
}

table.align-center {
   display: table !important;
}

figure {
    display: inline-block;
}

figure img {
    vertical-align: top;
    border: 1px groove gray;
}

figure figcaption {
    text-align: center;
}